// .scanner span {
//   color: transparent;
//   font-size: 1.4rem;
//   position: relative;
//   overflow: hidden;
// }

// .scanner span::before {
//   content: "함께, 하나";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 0;
//   height: 100%;
//   border-right: 4px solid #17feff;
//   overflow: hidden;
//   color: #44bd91;
//   animation: load91371 2s linear infinite;
// }

// @keyframes load91371 {
//   0%,
//   10%,
//   100% {
//     width: 0;
//   }

//   10%,
//   20%,
//   30%,
//   40%,
//   50%,
//   60%,
//   70%,
//   80%,
//   90%,
//   100% {
//     border-right-color: transparent;
//   }

//   11%,
//   21%,
//   31%,
//   41%,
//   51%,
//   61%,
//   71%,
//   81%,
//   91% {
//     border-right-color: #44bd91;
//   }

//   60%,
//   80% {
//     width: 100%;
//   }
// }
@import "../../common/styles/scss/responsive.scss";
#page {
  @apply grid place-items-center;
  height: 100%;
  //   width: 100%;
  //   @include responsive-position(0px, 215px);
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
}

#container {
  @apply grid place-items-center;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   position: relative;
}

#h3 {
  color: #44bd91;
}

#ring {
  //   width: 190px;
  //   height: 190px;
  @include responsive-hw(190px, 190px);
  border: 1px solid transparent;
  border-radius: 50%;
  position: absolute;
}

#ring:nth-child(1) {
  border-bottom: 8px solid rgb(255, 141, 249);
  animation: rotate1 2s linear infinite;
}

@keyframes rotate1 {
  from {
    transform: rotateX(50deg) rotateZ(110deg);
  }

  to {
    transform: rotateX(50deg) rotateZ(470deg);
  }
}

#ring:nth-child(2) {
  border-bottom: 8px solid rgb(255, 65, 106);
  animation: rotate2 2s linear infinite;
}

@keyframes rotate2 {
  from {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
  }

  to {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
  }
}

#ring:nth-child(3) {
  border-bottom: 8px solid rgb(0, 255, 255);
  animation: rotate3 2s linear infinite;
}

@keyframes rotate3 {
  from {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
  }

  to {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
  }
}

#ring:nth-child(4) {
  border-bottom: 8px solid rgb(252, 183, 55);
  animation: rotate4 2s linear infinite;
}

@keyframes rotate4 {
  from {
    transform: rotateX(70deg) rotateZ(270deg);
  }

  to {
    transform: rotateX(70deg) rotateZ(630deg);
  }
}
