@import "../../common/styles/scss/responsive.scss";
.joinMainDialogDiv {
  .first {
    @include responsive-position(130px, 22px);
  }
  .second {
    @include responsive-position(330px, 160px);
  }
  .third {
    @include responsive-position(540px, 44px);
  }
}

.dialog1Detail {
  @include responsive-position(35px, 50px);
  @include responsive-font-size(30px);
  font-family: "BMHanna";
  color: white;
}

.dialog2Detail {
  @include responsive-position(35px, 53px);
  @include responsive-font-size(30px);
  font-family: "BMHanna";
  color: #777575;
}

.joinBankListTitle {
  @include responsive-position(65px, 169px);
  @include responsive-font-size(25px);
  font-family: "NanumSquareRoundR";
}

.joinBankListDetail {
  @apply place-items-center m-10;
  @include responsive-font-size(20px);
  display: flex;
  font-family: "NanumSquareRoundR";
}

.joinBankListDetailDiv {
  @include responsive-position(100px, 0px);
}
