@import "../../common/styles/scss/responsive.scss";
.homeTitle {
  @apply flex place-items-center;
  @include responsive-position-height(82px);
  @include responsive-position-width(95px);
  font-family: "NanumSquareRoundB";
  font-size: 30px;
  position: absolute;
}

.homeTitleTxt {
  @apply m-5;
}

.homeDiv {
  @include responsive-width(400px);
  @include responsive-height(275px);
  @include responsive-position-height(177px);
  @include responsive-position-width(13px);
  background-color: #f8f8f8;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "NanumSquareRoundB";
  position: absolute;

  &.small {
    @apply grid place-items-center text-center;
    // height: 80px;
    // top: 743px;
    @include responsive-height(80px);
    @include responsive-position-height(743px);
    font-family: "NanumSquareRoundB";
    font-size: 17px;
  }

  &.middle {
    @include responsive-position-height(477px);
    @include responsive-height(240px);
    // top: 477px;
    // height: 240px;
    font-family: "BMHanna";
  }

  &.middle2 {
    @include responsive-width(375px);
    @include responsive-height(145px);
    @include responsive-position-width(14px);
    @include responsive-position-height(70px);
    border-radius: 7px;
    background-color: #e3f6fa;
    font-family: "NanumSquareRoundR";
  }
}

.homeDivTitle {
  @apply text-center;
  @include responsive-margin-top(24px);
  font-size: 25px;
}

.homeMileageTitle {
  @apply flex place-items-center;
  @include responsive-margin-top(32px);
  @include responsive-margin-left(40px);
}

.homeMileageSubBtn {
  @apply grid place-items-center;
  @include responsive-position-width(33px);
  @include responsive-position-height(160px);
  position: absolute;
  display: flex;
  // width: 155px;
  // height: 60px;
  @include responsive-height(60px);
  @include responsive-width(155px);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  &.btn2 {
    @include responsive-position-width(214px);
  }

  img {
    position: absolute;
    @include responsive-position-width(23px);
    @include responsive-position-height(10px);
  }
}

.homeMileageSubBtnTxt {
  @include responsive-position-width(82px);
  @include responsive-position-height(22px);
  position: absolute;
  font-family: "BMHanna";
  font-size: 20px;
}

.homeMileageRight {
  position: absolute;

  &.txt1 {
    @include responsive-position-width(230px);
    @include responsive-position-height(30px);
  }

  &.txt2 {
    @include responsive-position-width(175px);
    @include responsive-position-height(60px);
    font-family: "Sansation";
    font-size: 45px;
  }

  &.txt3 {
    @include responsive-position-width(228px);
    @include responsive-position-height(125px);
  }
}

.homeMileageChargeBelow {
  @include responsive-position-width(65px);
  @include responsive-position-height(220px);
  @include responsive-width(132px);
  @include responsive-height(38px);
  position: absolute;

  &.txt {
    @include responsive-position-width(16px);
    @include responsive-position-height(16px);
    color: white;
    font-size: 13px;
  }
}

.renewalHomeTitle {
  @apply flex;
  @include responsive-font-size(25px);
  @include responsive-position-height(77px);
  width: 100%;
  position: absolute;
  font-family: "NanumSquareRoundB";

  .left {
    @apply ml-6 flex place-items-center;
    div {
      @apply ml-2;
    }
  }
  .right {
    @apply flex ml-28;
    @include responsive-font-size(15px);

    .txt {
      @apply mr-2 mt-auto;
      @include responsive-width(70px);
    }
  }
}

.renewalMiddleTitle {
  @apply ml-6;
  @include responsive-position-height(150px);
  position: absolute;
  font-family: "NanumSquareRoundB";
  .top {
    @apply mb-3;
    @include responsive-font-size(20px);
    // color: #366dfe;
    color: #44bd91;
  }
  .bottom {
    @include responsive-font-size(25px);
  }
}

.renewalMiddleContentDiv {
  @apply ml-3 flex overflow-x-scroll;
  @include responsive-position-height(240px);
  @include responsive-height(200px);
  position: absolute;
  width: 95%;

  // max-width: 431px;
}

.renewalMiddleContent {
  @apply mr-2;
  @include responsive-width(370px);
  @include responsive-height(180px);
  flex: 0 0 auto;
  border-radius: 15px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
  font-family: "NanumSquareRoundB";
  background-color: #fae055;

  &.last {
    @apply flex;
    @include responsive-font-size(15px);
    background-color: #746fa5;
  }

  &.lastc {
    @apply flex;
    @include responsive-width(400px);
    @include responsive-font-size(15px);
    background-color: #746fa5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  ::webkit-scrollbar {
    display: none;
  }
}

.renewalMiddleLastContent {
  @apply mx-auto text-center my-auto;
  @include responsive-width(160px);
  font-family: "NanumSquareRoundB";
  color: white;
  // background-color:

  img {
    @apply mx-auto mb-5;
  }
}

.renewalMiddleMileageDiv {
  @apply mx-4;
  @include responsive-width(400px);
  @include responsive-height(170px);
  @include responsive-position-height(445px);
  position: absolute;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  .top {
    @apply m-5;
    @include responsive-font-size(17px);
    font-family: "NanumSquareRoundB";
    .mile {
      @apply mt-3 flex;
      @include responsive-font-size(25px);
      font-family: "Sansation";
      color: #44bd91;
      .milebtn {
        @apply grid place-items-center;
        @include responsive-font-size(15px);
        @include responsive-hw(30px, 150px);
        // @include responsive-width(150px);
        // @include responsive-height(30px);
        @include responsive-position(50px, 230px);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background-color: #4c7d6b;
        color: white;
      }
    }
  }
  .bottom {
    @apply flex place-items-center;
  }
  // .milebtn {
  //   @include responsive-font-size(13px);
  //   font-family: "NanumSquareRoundR";
  // }
}

.renewalMiddleBtnDiv {
  @apply flex mx-4;
  @include responsive-position-height(650px);
  position: absolute;
}

.renewalMiddleBtn {
  @apply flex mr-4;
  @include responsive-width(190px);
  @include responsive-height(80px);
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  .txt {
    @apply my-auto ml-5;
    @include responsive-font-size(17px);
    font-family: "NanumSquareRoundB";
    line-height: 1.5;
    .small {
      @include responsive-font-size(10px);
      color: #666666;
    }
  }
  img {
    @apply ml-8;
  }
}

.renewalCheeringTeamDiv {
  @apply ml-3 flex overflow-x-scroll;
  // @include responsive-position-height(240px);
  @include responsive-position-height(760px);
  @include responsive-height(115px);
  position: absolute;
  width: 95%;
}

.renewalCheeringTeam {
  // @apply grid place-items-center;
  @apply flex mr-2;
  @include responsive-width(400px);
  @include responsive-height(100px);
  // @include responsive-position-height(760px);
  // position: absolute;
  flex: 0 0 auto;
  background-color: white;
  border-radius: 15px;
  // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  .content {
    @apply text-center m-auto;
    @include responsive-font-size(20px);
    line-height: 1.5;
    width: 80%;
    font-family: "NanumSquareRoundB";

    .top {
      @include responsive-font-size(13px);
      color: #666666;
    }
  }
  img {
    @apply m-auto;
  }

  ::webkit-scrollbar {
    display: none;
  }

  .info {
    @apply w-1/3 text-center my-auto;
  }
  .imgInfo {
    @apply w-1/3 my-auto;
  }
  .detailInfo {
    @apply w-1/3 my-auto;
    @include responsive-font-size(15px);
    font-family: "NanumSquareRoundR";
    line-height: 1.5;
  }
}

.mainMileagebtn {
  @apply flex place-items-center mx-auto mt-2;
  @include responsive-font-size(17px);
  @include responsive-width(130px);
  @include responsive-height(40px);
  border-radius: 5px;
  // background-color: aliceblue;
  font-family: "NanumSquareRoundB";

  img {
    @apply mx-auto;
  }
  div {
    @apply mx-auto;
  }
}

.v-line {
  // border-left:
  @include responsive-height(69px);
  border-left: thick solid #32a1ce;
}

.homeDataProcessing {
  // @apply h-full w-full;
  background-color: white;
  img {
    @apply mx-auto mt-60;
  }
  div {
    @apply text-center mt-10;
    @include responsive-font-size(25px);
    font-family: "NanumSquareRoundR";
    line-height: 1.5;
  }
}

.homeMileageModalDiv {
  @apply w-full;
  @include responsive-font-size(25px);
  font-family: "NanumSquareRoundR";

  .title {
    @apply mt-8;
    @include responsive-font-size(25px);
  }
  .detail {
    @apply flex w-full;
    @include responsive-position(120px, 0px);
    @include responsive-font-size(15px);
  }
  .mileage {
    @apply w-2/5;
    .convertMileage {
      @apply flex;
      @include responsive-position(20px, 250px);
      .inputM {
        @apply mt-auto;
        @include responsive-font-size(25px);
        @include responsive-hw(30px, 70px);
        border: none;
        border-bottom: 1px solid black;
      }
    }

    .currentM {
      @apply mt-2;
      @include responsive-font-size(30px);
    }
  }
}

.homeMileageBtn {
  @apply grid place-items-center;
  @include responsive-hw(30px, 132px);
  @include responsive-font-size(13px);
  @include responsive-position(240px, 125px);
  background-color: #5c4a4a;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.homeMileageDropDown {
  /* 04 Dropdown */
  @apply flex flex-row;
  @include responsive-hw(40px, 200px);
  @include responsive-position(170px, 90px);
  box-sizing: border-box;

  /* Auto layout */
  // display: flex;
  // flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 16px;

  // width: 250px;
  // height: 55px;

  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
