.joinIntroDiv {
  position: absolute;
  top: 127px;
  left: 54px;
  display: grid;
  justify-content: space-between;

  div {
    flex: 1;
  }
}

.joinIntroSquare {
  border-radius: 10px;
  background-color: #44bd91;
  width: 135px;
  height: 55px;
  font-family: "BMHanna";
  font-size: 30px;
  color: white;
  @apply grid place-items-center;

  &.large {
    width: 265px;
    height: 135px;
    font-size: 40px;
  }
}

.joinIntroBasic {
  font-family: "BMHanna";
  font-size: 30px;
  @apply my-5;
}

.joinIntroSmile {
  position: absolute;
  top: 416px;
  left: 67px;
}

.joinIntroNextText {
  position: fixed;
  top: 834px;
  left: 280px;
  font-family: "BMHanna";
  font-size: 25px;
}

.joinIntroArrow {
  position: absolute;
  top: 735px;
  left: 227px;
}

.joinIdVerificationTitle {
  font-family: "BMHanna";
  font-size: 30px;
  position: absolute;
  top: 258px;
  left: 51px;
}

.joinIdVerificationContent {
  position: absolute;
  top: 342px;
  left: 54px;
}

.joinIdVerificationNotify {
  font-family: "Noto sans";
  font-size: 10px;
  color: rgba(97, 97, 97, 0.72);
  position: absolute;
  top: 290px;

  &.time {
    position: fixed;
    top: 605px;
    left: 215px;
    font-size: 15px;
  }
}

.joinNumberCheck {
  font-family: "NanumSquareRoundR";
  font-size: 10px;
  width: 100px;
  height: 20px;
  border-radius: 25px;
  background-color: #777575;
  color: #f6f6f6;
  @apply my-5 grid place-items-center ml-4;

  &.small {
    width: 45px;
    height: 20px;
    margin-left: 1rem;
  }

  &.middle {
    width: 57px;
    height: 20px;
    position: absolute;
    top: 400px;
    left: 310px;
  }
}

.joinAccountLinkTitle {
  font-family: "BMHanna";
  font-size: 30px;
  position: absolute;
  top: 250px;
  left: 50px;
}

.joinAuthenticationImg {
  position: Absolute;
  top: 60px;
  left: 175px;

  &.down {
    top: 173px;
    left: 201px;
  }
}

.joinAuthenticationDetail {
  @apply grid place-items-center text-center;
  position: absolute;
  font-family: "BMHanna";
  font-size: 20px;
  top: 267px;
  left: 127px;
  line-height: 1.5;

  &.top {
    font-family: "NotoSans";
    font-size: 15px;

    top: 212px;
    left: 150px;
  }
}

.joinAuthenticationCheckTitle {
  font-family: "BMHanna";
  font-size: 25px;
  line-height: 1;
  position: absolute;
  top: 300px;
  left: 45px;
}

.joinAuthenticationCheckImg {
  position: absolute;
  top: 376px;
  left: 39px;
}

.joinAuthenticationCheckBtn {
  font-family: "NanumSquareRoundR";
  font-size: 10px;
  border-radius: 25px;
  background-color: #777575;
  width: 45px;
  height: 20px;
  margin-left: 1rem;
  color: #f6f6f6;
  @apply grid place-items-center;

  &.auth {
    position: absolute;
    top: 475px;
    left: 310px;
  }
}

.joinSetNickNameTitle {
  font-family: "BMHanna";
  font-size: 30px;
  position: absolute;
  top: 308px;
  left: 51px;
}

.joinSetNickNameSub {
  font-family: "NotoSans";
  font-size: 17px;
  color: #777575;
  position: absolute;
  top: 358px;
  left: 51px;
}

.joinCompleteTxt {
  position: absolute;
  font-family: "BMHanna";
  font-size: 30px;

  &.first {
    top: 144px;
    left: 90px;
  }
  &.second {
    top: 315px;
    left: 177px;
  }
  &.third {
    top: 395px;
    left: 102px;
  }
}

.joinCompleteTxtMain {
  position: absolute;
  top: 215px;
  left: 130px;
  background-color: #44bd91;
  border-radius: 10px;
  font-family: "BMHanna";
  font-size: 40px;
  color: white;
  width: 165px;
  height: 75px;

  @apply grid place-items-center text-center;
}

.joinCompleteImg {
  position: absolute;
  top: 510px;
  left: 127px;
}
