@import "../../common/styles/scss/responsive.scss";

// join - main
.joinMainTitle {
  @apply grid place-items-center;
  @include responsive-position(750px, 80px);
  @include responsive-font-size(30px);
  font-family: "NanumSquareRoundB";
  line-height: 1.5;
}

// join - intro
.joinIntroDiv {
  @apply grid;
  @include responsive-position(127px, 54px);
  justify-content: space-between;

  div {
    flex: 1;
  }
}

.joinIntroSquare {
  @apply grid place-items-center;
  @include responsive-hw(55px, 135px);
  @include responsive-font-size(30px);
  border-radius: 10px;
  background-color: #44bd91;
  font-family: "BMHanna";
  color: white;

  &.large {
    @include responsive-hw(135px, 265px);
    @include responsive-font-size(40px);
  }
}

.joinIntroBasic {
  @apply my-5;
  @include responsive-font-size(30px);
  font-family: "BMHanna";
}

.joinIntroSmile {
  @include responsive-position(416px, 60px);
}

.joinIntroNextDiv {
  @include responsive-hw(30px, 130px);
  @include responsive-position(707px, 226px);

  div {
    @include responsive-font-size(25px);
    font-family: "BMHanna";
  }
}

// join - idVerification
.joinIdVerificationDiv {
  @include responsive-position(258px, 51px);
  .title {
    @include responsive-font-size(30px);
    font-family: "BMHanna";
  }

  .content {
    @include responsive-position(52px, 0px);
  }
}

.joinIdVerificationNotify {
  @include responsive-position(290px, 0px);
  @include responsive-font-size(10px);
  font-family: "Noto sans";
  color: rgba(97, 97, 97, 0.72);

  &.time {
    @include responsive-font-size(15px);
    @include responsive-position(260px, 165px);
  }
}

.joinNumberCheck {
  @apply my-5 grid place-items-center ml-4;
  @include responsive-hw(20px, 100px);
  @include responsive-font-size(10px);
  font-family: "NanumSquareRoundR";
  border-radius: 25px;
  background-color: #777575;
  color: #f6f6f6;

  &.small {
    @include responsive-hw(20px, 45px);
    margin-left: 1rem;
  }

  &.middle {
    @include responsive-position(400px, 310px);
    @include responsive-hw(20px, 57px);
  }
}

// join - account link
.joinAccountLinkTitle {
  @include responsive-position(250px, 50px);
  @include responsive-font-size(30px);
  font-family: "BMHanna";
}

.joinAuthenticationImg {
  @apply grid place-items-center w-full;
  @include responsive-position(60px, 0px);

  .down {
    @apply mt-10;
  }

  .top {
    @include responsive-position(212px, 150px);
    @include responsive-font-size(15px);
    font-family: "NotoSans";
  }
}

.joinAuthenticationDetail {
  @apply text-center;
  @include responsive-position(267px, 127px);
  @include responsive-font-size(20px);
  font-family: "BMHanna";
  line-height: 1.5;
}

.joinAuthenticationCheckTitle {
  font-family: "BMHanna";
  font-size: 25px;
  line-height: 1;
  position: absolute;
  top: 300px;
  left: 45px;
}

.joinAuthenticationCheckImg {
  position: absolute;
  top: 376px;
  left: 39px;
}

.joinAuthenticationCheckBtn {
  font-family: "NanumSquareRoundR";
  font-size: 10px;
  border-radius: 25px;
  background-color: #777575;
  width: 45px;
  height: 20px;
  margin-left: 1rem;
  color: #f6f6f6;
  @apply grid place-items-center;

  &.auth {
    position: absolute;
    top: 475px;
    left: 310px;
  }
}

.joinSetNickNameTitle {
  font-family: "BMHanna";
  font-size: 30px;
  position: absolute;
  top: 308px;
  left: 51px;
}

.joinSetNickNameSub {
  font-family: "NotoSans";
  font-size: 17px;
  color: #777575;
  position: absolute;
  top: 358px;
  left: 51px;
}

.joinCompleteTxt {
  position: absolute;
  font-family: "BMHanna";
  font-size: 30px;

  &.first {
    top: 144px;
    left: 90px;
  }
  &.second {
    top: 315px;
    left: 177px;
  }
  &.third {
    top: 395px;
    left: 102px;
  }
}

.joinCompleteTxtMain {
  position: absolute;
  top: 215px;
  left: 130px;
  background-color: #44bd91;
  border-radius: 10px;
  font-family: "BMHanna";
  font-size: 40px;
  color: white;
  width: 165px;
  height: 75px;

  @apply grid place-items-center text-center;
}

.joinCompleteImg {
  position: absolute;
  top: 510px;
  left: 127px;
}

// notification - request
.notificationRequestTitle {
  @apply grid place-items-center text-center mt-40 mx-auto;
  font-family: "NanumSquareRoundB";

  .title {
    @apply mt-10;
    @include responsive-font-size(30px);
  }
  .sub {
    @apply mt-10;
    @include responsive-font-size(17px);
    color: #777575;
    line-height: 1.5;
  }
}

.flip-card {
  background-color: transparent;
  // width: 240px;
  // height: 154px;
  @include responsive-hw(350px, 250px);
  @include responsive-font-size(20px);
  font-family: "NanumSquareRoundR";
  // font-family: "Hana2M";
  perspective: 1000px;
  color: white;
}

.heading_8264 {
  // position: absolute;
  // letter-spacing: 0.2em;
  // font-size: 0.5em;
  // top: 2em;
  // left: 18.6em;
}

.logo {
  position: absolute;
  top: 6.8em;
  left: 11.7em;
}

.chip {
  position: absolute;
  top: 2.3em;
  left: 1.5em;
}

.contactless {
  position: absolute;
  top: 3.5em;
  left: 12.4em;
}

.number {
  // position: absolute;
  // font-weight: bold;
  // font-size: 0.6em;
  @include responsive-font-size(15px);
  @include responsive-position(200px, 20px);
  // top: 8.3em;
  // left: 1.6em;
}

.valid_thru {
  @include responsive-font-size(13px);
  @include responsive-position(230px, 20px);
  color: black;
  // position: absolute;
  // font-weight: bold;
  // top: 635.8em;
  // font-size: 0.01em;
  // left: 140.3em;
}

.date_8264 {
  position: absolute;
  font-weight: bold;
  font-size: 0.5em;
  top: 13.6em;
  left: 3.2em;
}

.name {
  @include responsive-font-size(13px);
  @include responsive-position(250px, 20px);
  color: black;
  // position: absolute;
  // font-weight: bold;
  // font-size: 0.5em;
  // top: 16.1em;
  // left: 2em;
}

.strip {
  position: absolute;
  background-color: black;
  width: 15em;
  height: 1.5em;
  top: 2.4em;
  background: repeating-linear-gradient(
    45deg,
    #303030,
    #303030 10px,
    #202020 10px,
    #202020 20px
  );
}

.mstrip {
  position: absolute;
  // background-color: rgb(255, 255, 255);
  background-color: #44bd91;
  // box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  width: 8em;
  height: 0.8em;
  top: 5em;
  left: 0.8em;
  border-radius: 2.5px;
}

.sstrip {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 4.1em;
  height: 0.8em;
  top: 5em;
  left: 10em;
  border-radius: 2.5px;
}

.code {
  font-weight: bold;
  text-align: center;
  margin: 0.2em;
  color: black;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 2px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  // background-color: #171717;
  // background-color: white;
  background-color: #44bd91;
}

.flip-card-back {
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 2px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  // background-color: #171717;
  background-color: white;
  transform: rotateY(180deg);
}

.flip-card-back-nickname {
  @include responsive-position(40px, 20px);
  @include responsive-font-size(30px);
  color: black;
}

.flip-card-back-phone {
  @include responsive-position(140px, 20px);
  @include responsive-font-size(15px);
  color: black;
}

.flip-card-info {
  @apply mt-3;
}

.flipDiv {
  @apply grid;
  @include responsive-position(220px, 90px);
}

.authCheckInfoComplete {
  @include responsive-font-size(17px);
  @include responsive-position(450px, 60px);
  font-family: "NotoSans";
}
