@import "../../common/styles/scss/responsive.scss";

.create-container {
  width: 100%;
  height: 100%;
  background-color: $color-primary1;

  display: flex;
  flex-direction: column;
  overflow-y: auto;

  font-family: "BMHanna";
  font-weight: 400;

  .header {
    @apply p-5 flex mt-16 text-center;
    @include responsive-font-size(20px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include responsive-padding(20px);    

    font-family: "BMHanna";
    font-weight: 400;

    .back {
      width: 10%;
    }
  }

  .match-background {
    @include responsive-hw(262px, 431px);    
    position: relative;
    background-image: url(@/assets/images/matchBackground.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include responsive-hw(500px, 431px);

    .title {
      @include responsive-font-size(40px);      
      text-align: center;
      color: white;
    }

    .num-input {
      text-align: center;
      background-color: $color-background;
      border-radius: 20px;
      color: black;
      @include responsive-hw(70px, 390px);
      @include responsive-font-size(25px);           
    }

    .hint {
      color: white;
      @include responsive-font-size(15px);      
      align-self: flex-start;
      @include responsive-margin-left(25px);      
    }

    .dialog {
      @include responsive-hw(50.1px, 200px);      
      background-image: url(@/assets/images/chatbot_dialog.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      @include responsive-position2(110px,100px);        
    }

    .chatbot-content {      
      @include responsive-font-size(15px);    
      @include responsive-position2(120px,150px);             
    }

    .chatbot {
      @include responsive-hw(114px, 111px);      
      background-image: url(@/assets/images/chatbot.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      @include responsive-position2(20px,10px);      
    }
  }

  .second-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include responsive-hw(500px, 431px);    
    overflow-y: auto;

    background-color: $color-background;

    .title {
      @include responsive-font-size(40px);      
      text-align: center;
      color: $color-text2;
    }

    .num-input {
      text-align: center;
      background-color: $color-background2;
      border-radius: 20px;
      color: black;
      @include responsive-hw(70px, 390px);
      @include responsive-font-size(25px);            
      @include responsive-margin-bottom(10px);      
    }

    button.num-input {
      color: $color-text2;
    }

    .hint {
      color: $color-text2;
      @include responsive-font-size(15px);      
      align-self: flex-start;
      @include responsive-margin-left(25px);      
    }
  }

  .third-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include responsive-hw(500px, 431px);

    .title {
      @include responsive-font-size(40px);      
      text-align: center;
      color: white;
    }

    .due-dateTime {
      @include responsive-hw(155px,300px);      
      border: 2px solid white;
      border-radius: 20px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      .date-custom {
        color: white;
        @include responsive-font-size(35px);
        @include responsive-margin-right(20px);        
        @include responsive-margin-bottom(10px);
        @include responsive-margin-top(10px);                
      }
    }
  }

  .fourth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    @include responsive-hw(500px, 431px);

    background-color: $color-background;

    .left-dialog {
      @include responsive-hw(71px, 323px);      
      background-image: url(@/assets/images/bigmatchDialogs/leftDialog.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      @include responsive-position(30px,10px);     
    }

    .left-chat {
      @include responsive-font-size(30px);      
      text-align: center;
      color: $color-text2;
      @include responsive-position(48px,60px);     
    }

    .right-dialog {
      @include responsive-hw(62px, 214px);      
      background-image: url(@/assets/images/bigmatchDialogs/rightDialog.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;      
      position: absolute;
      @include responsive-position-height(110px);
      @include responsive-position-width2(10px);
    }

    .right-chat {
      @include responsive-font-size(30px);      
      text-align: center;
      color: $color-text2;
      position: absolute;
      @include responsive-position-height(125px);
      @include responsive-position-width2(60px);      
    }

    .fine-title {
      @include responsive-font-size(30px);      
      color: $color-text2;
      align-self: flex-start;
      @include responsive-margin-bottom(10px);
      @include responsive-margin-top(20px);
      @include responsive-margin-left(55px);      
    }

    .fine-input {
      display: flex;
      flex-direction: row;
      align-items: center;

      .num-input {
        text-align: center;
        background-color: $color-background2;
        border-radius: 20px;
        color: black;
        @include responsive-hw(70px, 289px);
        @include responsive-font-size(25px);               
      }

      .won {
        @include responsive-font-size(30px);        
        color: black;
        @include responsive-margin-left(10px);        
      }
    }

    .content {
      @include responsive-font-size(30px);      
      color: $color-text2;
      position: absolute;
      @include responsive-position-height2(80px);
      @include responsive-position-width(20px);
    }
  }

  .row-dummy {
    width: 10%;
  }

  .col-dummy {
    @include responsive-height(30px);    
  }

  .col-dummy2 {
    @include responsive-height(10px);    
  }
}
