@import "../../common/styles/scss/responsive.scss";

.BeforeVote-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  position: relative;
  background-image: url(@/assets/images/boatBackground.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .header {
    @apply p-5 flex mt-16 text-center;
    @include responsive-font-size(20px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include responsive-padding(20px);   

    font-family: "BMHanna";
    font-weight: 400;

    .back {
      width: 10%;
    }
  }

  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    font-family: "BMHanna";
    font-weight: 900;
    @include responsive-font-size(40px);
    @include responsive-padding(20px);
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
    overflow-x: hidden;

    .ship-container {
      @include responsive-padding-bottom(80px);

      width: 100%; /* 부모 컨테이너의 너비를 100%로 설정 */
      display: flex;
      justify-content: center; /* 중앙 정렬 */
    }

    .choose-info {
      display: flex;
      flex-direction: column;

      width: 80%; /* 부모 컨테이너의 80% 너비 사용 */
      box-sizing: border-box;

      font-family: "BMHanna";
      font-weight: 900;

      .choose {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @include responsive-font-size(20px);

        .radio-box {
          display: flex;
          align-items: center;
          position: relative;
          @include responsive-padding-left(30px);
          @include responsive-margin-right(10px);
          cursor: pointer;
          @include responsive-font-size(24px);
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        /* 기본 라디오 버튼 숨기기 */
        .radio-box input[type="radio"] {
          display: none;
        }
        /* 선택되지 않은 라디오 버튼 스타일 꾸미기 */
        .on {
          @include responsive-hw(20px, 20px);
          background: $color-text1;
          border-radius: 50%;
          @include responsive-position(5px, 0px);
          // position: absolute;
          // top: 5;
          // left: 0;
        }
        /* 선택된 라디오 버튼 스타일 꾸미기 */
        .radio-box input[type="radio"]:checked + .on {
          background: $color-text1;
        }
        .on:after {
          content: "";
          position: absolute;
          display: none;
        }
        .radio-box input[type="radio"]:checked + .on:after {
          display: block;
        }
        .on:after {
          @include responsive-hw(10px, 10px);
          background: $color-primary1;
          border-radius: 50%;
          @include responsive-position(5px, 5px);
          // position: absolute;
          // left: 5px;
          // top: 5px;
        }
      }

      .choose-container {
        display: flex;
        flex-direction: row;

        .user-names {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .user-container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            border: 2px solid black;
            border-radius: 10px;
            background-color: $color-background;
            @include responsive-padding(20px);
            @include responsive-margin(10px);
            @include responsive-hw(45px, 150px);

            .user-profile {
              @include responsive-hw(32px, 32px);
              position: relative;
              background-image: url(@/assets/images/sailor.svg);
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center center;
            }
            .user-name {
              @include responsive-font-size(24px);
            }
          }

          .non-user-container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            @include responsive-padding(20px);
            @include responsive-margin(10px);
            @include responsive-hw(45px, 150px);
          }
        }
      }
    }

    .ship-container.odd .choose {
      justify-content: flex-start;
    }

    .ship-container.odd .ship-img {
      order: 1;

      @include responsive-hw(150px, 150px);
      position: relative;
      background-image: url(@/assets/images/boat1.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;

      @include responsive-margin-right(20px);
      @include responsive-padding-right(20px);
    }

    .ship-container.odd .user-names {
      order: 2;

      @include responsive-margin-left(20px);
      @include responsive-padding-left(20px);
    }

    .ship-container.even .choose {
      justify-content: flex-end;
    }

    .ship-container.even .ship-img {
      order: 2;

      @include responsive-hw(150px, 150px);
      position: relative;
      background-image: url(@/assets/images/boat2.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;

      @include responsive-margin-left(20px);
      @include responsive-padding-left(20px);
    }

    .ship-container.even .user-names {
      order: 1;

      @include responsive-margin-right(20px);
      @include responsive-padding-right(20px);
    }

    .btn {
      position: fixed;
      @include responsive-position-height2(30px);
    }
  }

  .row-dummy {
    width: 10%;
  }

  .col-dummy {
    @include responsive-height(40px);
  }
}
