@import "../../../common/styles/scss/responsive.scss";

.send-fee-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .header {
    @apply p-5 flex mt-16 text-center;
    @include responsive-font-size(20px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include responsive-padding(20px);

    font-family: "NanumSquareRoundB";
    font-weight: 700;

    .back {
      width: 10%;
    }
  }

  .input-container {
    flex: 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    .receiver-bank-img {
      @include responsive-position(132px, 190px);
    }
    .receiver-font {
      @include responsive-font-size(20px);
      @include responsive-position(201px, 170px);
      font-family: "NanumSquareRoundB";
      font-weight: 700;

      // @include responsive-margin-bottom(20px);
    }
    .receiver-bank-font {
      @include responsive-font-size(15px);
      @include responsive-position(243px, 128px);
      font-family: "NanumSquareRoundB";
      font-weight: 700;
      color: $color-text1;
      // @include responsive-margin-bottom(20px);
    }

    .num-input {
      @apply flex text-center place-items-center;
      @include responsive-width(200px);
      @include responsive-font-size(30px);
      @include responsive-position(285px, 115px);

      border: none;
      background: transparent;
      color: transparent; /* To hide the input text */
      outline: none; /* To remove the default focus outline */

      font-family: "NanumSquareRoundR";
      font-weight: 400;
      color: $color-text1;
    }
    .cant {
      font-family: "NanumSquareRoundR";
      font-weight: 700;
      @include responsive-font-size(15px);
      @include responsive-position(330px, 160px);
      color: red;
    }

    .remain-amount {
      @apply flex flex-row;
      @include responsive-hw(55px, 334px);
      @include responsive-padding-left(30px);
      @include responsive-padding-right(30px);
      @include responsive-font-size(15px);
      @include responsive-position(360px, 48px);
      background-color: white;
      border-radius: 20px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);

      justify-content: space-between;
      align-items: center;

      font-family: "NanumSquareRoundR";
      font-weight: 400;

      color: $color-text1;
    }
  }

  .btns {
    @include responsive-height(60px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @include responsive-margin-left(10px);
    @include responsive-margin-right(10px);

    .btn {
      @include responsive-hw(40px, 117px);
      background-color: $color-background;
      border: 1px solid $color-primary1;
      border-radius: 20px;
      color: $color-text1;
    }
  }

  .num-container {
    @apply flex place-items-center text-center;
    @include responsive-position(449px, 0px);
    @include responsive-hw(483px, 431px);
    flex: 3;
    background-color: white;

    flex-direction: column;
    // height: auto;
    // width: auto;

    .num-line {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .num {
        @include responsive-hw(100px, 120px);
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        font-family: "NanumSquareRoundB";
        font-weight: 700;
        @include responsive-font-size(30px);

        .reloading {
          @include responsive-hw(30px, 30px);
          position: absolute;
          background-image: url(@/assets/images/reloading.svg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
        .backArrow {
          @include responsive-hw(30px, 30px);
          position: absolute;
          background-image: url(@/assets/images/back.svg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
  }

  .row-dummy {
    width: 10%;
  }

  .col-dummy {
    @include responsive-height(40px);
  }
}
