$color-primary1: #44BD91;
$color-primary2: #E2F1EC;
$color-background: #F4F5F7;
$color-text1: #868686;

$color-nc: #071d3d;
$color-hanwha: #F15A28;
$color-Lions: #094ea3;
$color-Kiwoom: #820024;
$color-LG: #a50034;
$color-Doosan-Navy: #131230;
$color-Doosan-Red: #ED1C24;
$color-SSG: #cf0021;
$color-Lotte: #d61c38;
$color-Kia: #EA0029;
$color-KT: #111;

$vh: var(--vh);
$footer-height: 50px;
$vh-100: calc($vh * 100);