@import "../../common/styles/scss/responsive.scss";
// register
.registerMain {
  @apply grid place-items-center overflow-y-scroll;
  height: 100vh;
}

// id-verification
.idVerification {
  @include responsive-font-size(30px);
  @apply my-5 grid place-items-center;

  &.detail {
    @include responsive-font-size(20px);
    font-family: "NotoSans";
    color: #616161;
    opacity: 0.62;
  }

  &.btn {
    @include responsive-font-size(20px);
    margin: 0;
    font-family: "NanumSquareRoundR";
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  &.below {
    @include responsive-font-size(15px);
    margin-top: 20px;
    font-family: "NotoSans";
    color: rgba(97, 97, 97, 0.72);
  }

  &.main {
    position: fixed;
    top: 129px;
    left: 50px;
  }

  &.img {
    position: fixed;
    top: 369px;
    left: 26px;
  }
}

// userinfo
.userInfoDiv {
  position: fixed;
  top: 163px;
  left: 53px;
}

.userInfo {
  font-family: "BMHanna";
  font-size: 30px;
  @apply m-5;
}

.userInfoInput {
  border: none;
  border-bottom: 1px solid #c6c6c6;
  background-color: #f2f2f2;
  font-family: "NotoSans";
  font-size: 20px;
  padding-left: 1rem;
  width: 8rem;

  &.address {
    width: 16rem;
    margin-bottom: 1.5rem;
  }
  &.tel1 {
    width: 5rem;
  }
  &.tel2 {
    width: 7rem;
  }
  &.vnm {
    width: 12rem;
    margin-bottom: 1.5rem;
  }
  &.acnm {
    padding-left: 0;
    width: 20rem;
    position: fixed;
    top: 416px;
    left: 50px;
    // margin-bottom: 1.5rem;
    ::placeholder {
      font-size: 17px;
    }
  }
  &.acnm2 {
    padding-left: 0;
    width: 20rem;
    position: fixed;
    top: 470px;
    left: 50px;
    // margin-bottom: 1.5rem;
    ::placeholder {
      font-size: 17px;
    }
  }
  &.acnm3 {
    padding-left: 0;
    width: 20rem;
    position: fixed;
    top: 414px;
    left: 60px;
    // margin-bottom: 1.5rem;
    ::placeholder {
      font-size: 17px;
    }
  }
  &.bs {
    // bankselect
    padding-left: 0;
    position: fixed;
    top: 348px;
    left: 50px;
    width: 5rem;

    ::placeholder {
      font-size: 17px;
    }
  }
}

.userInfoInputText {
  font-family: "NotoSans";
  font-size: 15px;
  @apply my-5;
}

.userinfobtnLocation {
  @include responsive-position-height(770px);
  @include responsive-position-width(34px);
  position: fixed;
}

// select stock
.selectStockMain {
  position: fixed;
  top: 151px;
  left: 60px;
}

.selectStockInfo {
  font-family: "BMHanna";
  font-size: 30px;
}

.selectStockDiv {
  position: fixed;
  top: 273px;
  left: 39px;
}

.stockDiv {
  // @apply shadow-sm;
  width: 353px;
  height: 92px;
  display: flex;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 48px;
}

.stockImg {
  margin-left: 21px;
}

.stockName {
  width: 100%;
  display: grid;
  place-items: center;
  font-family: "BMHanna";
  font-size: 30px;
}

// agree terms
.termsInfo1 {
  position: fixed;
  top: 113px;
  left: 42px;
  font-family: "BMHanna";
  font-size: 25px;
}

.termsInfo2 {
  position: fixed;
  top: 151px;
  left: 42px;
  font-family: "BMHanna";
  font-size: 30px;
}

.termsInfo3 {
  position: fixed;
  top: 197px;
  left: 42px;
  font-family: "NotoSans";
  font-size: 15px;
  color: rgba(97, 97, 97, 0.72);
}

.termsDiv {
  position: fixed;
  top: 245px;
  left: 37px;
  width: 353px;
  height: 471px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

// checkTerms
.checkTermsMain {
  margin-left: 42px;
  margin-top: 27px;
}

.checkTermsTitle {
  font-family: "NanumSquareRoundR";
  font-size: 23px;
  margin-top: 32px;
  margin-bottom: 31px;
}

.checkTermsDetail {
  font-family: "NotoSans";
  font-size: 15px;
  color: rgba(97, 97, 97, 0.72);
}

// setaccountname
.setAccountNameMain {
  position: fixed;
  top: 177px;
  left: 61px;
}

.setAccountNameTitle {
  font-family: "BMHanna";
  font-size: 30px;
  margin-bottom: 100px;

  &.createdInfo {
    margin-bottom: 78px;
  }
}

.setAccountNameChatbot {
  position: fixed;
  top: 475px;
}

.setAccountNameBtn {
  display: flex;
  position: fixed;
  top: 770px;
  left: 35px;
}

.chatbotMsg {
  width: 260px;
  height: 35px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: "NotoSans";
  font-size: 13px;

  @apply grid text-center place-items-center;

  &.loc1 {
    position: fixed;
    top: 456px;
    left: 125px;
  }

  &.loc2 {
    position: fixed;
    top: 536px;
    left: 156px;
  }

  &.loc3 {
    position: fixed;
    top: 619px;
    left: 117px;
  }
}

.infoHalfBtn {
  border: 1px solid #44bd91;
  border-radius: 25px;
  font-family: "NanumSquareRoundR";
  font-size: 20px;
  color: #777575;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 170px;
  height: 55px;

  @apply grid place-items-center;

  &.idx2 {
    color: #f6f6f6;
    background-color: #44bd91;
    border: none;
    @apply ml-5;
  }
}

// numberKeyPad
.numberKeyPad {
  background-color: white;
  width: 100%;
  height: 490px;
  position: fixed;
  top: 442px;
}

.numberKeyPadRow {
  display: flex;
  font-family: "NanumSquareRoundR";
  font-size: 30px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  &.first {
    margin-top: 44px;
  }

  &.last {
    margin-bottom: 0;
  }

  div {
    flex: 1;
    text-align: center;
  }
}

.numberKeyPadBtn {
  position: absolute;
  top: 384px;
  left: 35px;
  // @apply grid place-items-center;
}

.maskingPwDiv {
  display: flex;
  position: absolute;
  top: 103px;
  left: 8px;
}

.maskingPwArea {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 18px;
}

.accountTypeLogo {
  position: fixed;
  top: 383px;
  left: 61px;
}

// complete
.maccountCompleteTitle {
  font-family: "BMHanna";
  font-size: 30px;
  position: fixed;
  top: 327px;
  left: 64px;
}

.maccountCompleteImg {
  position: fixed;
  top: 425px;
  left: 115px;
}
