@import "../../common/styles/scss/responsive.scss";

.collect-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .header {
    @apply p-5 flex mt-16 text-center;
    @include responsive-font-size(20px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include responsive-padding(20px);   

    font-family: "NanumSquareRoundB";
    font-weight: 700;    

    .back {
      width: 10%;
    }
  }

  .collect-content {
    @apply mt-24 flex place-items-center text-center;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    .collect-title {
      font-family: "BMHanna";
      @include responsive-font-size(30px);
      @include responsive-width(250px);
      @include responsive-margin-bottom(20px);
      @include responsive-margin-top(50px);
    }
    .collect-sub {      
      font-family: "NanumSquareRoundB";
      @include responsive-font-size(16px);
      @include responsive-width(300px);
      color: red;
    }

    .character {
      @include responsive-hw(200px, 200px); 
      position: relative;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;

      &.Hanwha_second {
        background-image: url(@/assets/images/characters/Hanwha_together.svg);
      }
      &.Kia_second {
        background-image: url(@/assets/images/characters/Kia_together.svg);
      }
      &.Kiwoom_second {
        background-image: url(@/assets/images/characters/Kiwoom_together.svg);
      }
      &.KT_second {
        background-image: url(@/assets/images/characters/KT_together.svg);
      }
      &.LG_second {
        background-image: url(@/assets/images/characters/LG_alone2.svg);
      }
      &.Lions_second {
        background-image: url(@/assets/images/characters/Lions_alone2.svg);
      }
      &.Lotte_second {
        background-image: url(@/assets/images/characters/Lotte_alone2.svg);
      }
      &.Nc_second {
        background-image: url(@/assets/images/characters/nc_alone2.svg);
      }
      &.Ssg_second {
        background-image: url(@/assets/images/characters/ssg_alone.svg);
      }
      &.Doosan_second {
        background-image: url(@/assets/images/characters/ssg_alone.svg);
      }
    }
  }

  .row-dummy {
    width: 10%;
  }

  .col-dummy {
    @apply mt-24 flex place-items-center text-center;
  }
  .col-dummy2 {
    @apply p-5 flex mt-16 text-center;
  }
}
