@import "../../common/styles/scss/responsive.scss";

.baseballhome-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  font-family: "BMHanna";

  .fee-btns {
    @apply mt-4;
    display: flex !important;
    flex-direction: row !important;

    .fee-collect {
      // width: 165px !important;
      // height: 50px !important;
      @include responsive-hw(50px, 165px);
      margin-right: 15px !important;
      background-color: white !important;
      color: $color-primary1 !important;
      border: 1px solid $color-primary1 !important;
      box-shadow: none !important;
    }

    .fee-send {
      // width: 165px !important;
      // height: 50px !important;
      @include responsive-hw(50px, 165px);
      margin-left: 15px !important;
      background-color: $color-primary1 !important;
      color: white !important;
      box-shadow: none !important;
    }
  }

  .header {
    @apply p-5 flex mt-12 text-center;
    @include responsive-hw(60px, 431px);
    @include responsive-font-size(20px);

    // display: flex;
    flex-direction: row;
    justify-content: space-between;

    // padding: 20px;
    font-family: "NanumSquareRoundB";

    .back {
      width: 10%;
    }
  }

  .top-container {
    // width: 100%;
    // height: 320px;
    @apply flex place-items-center;
    @include responsive-hw(260px, 431px);

    // display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;

    .account-title {
      @apply flex flex-row mt-10;
      @include responsive-font-size(24px);
      font-family: "NanumSquareRoundB";

      .baseball-image {
        @apply mr-2;
        @include responsive-hw(25px, 25px);
        background-image: url(@/assets/images/baseballLogo.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }

      .account-name {
        // font-size: 24px;
        // padding-left: 5px;
      }
    }

    .account-number {
      @apply py-3;
      font-family: "NanumSquareRoundR";
      color: $color-text1;
      // padding-top: 10px;
      // padding-bottom: 10px;
    }

    .account-amount {
      @apply py-3;
      @include responsive-font-size(30px);
      font-family: "NanumSquareRoundR";
      // font-size: 30px;
      // padding-top: 10px;
      // padding-bottom: 10px;
    }
  }

  .bottom-container {
    font-family: "NanumSquareRoundB";
    background-color: white;
    @include responsive-hw(552px, 431px);
    overflow-y: auto;

    .components {
      @include responsive-font-size(20px);

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      @include responsive-margin-top(10px);
    }
  }

  .row-dummy {
    width: 10%;
  }

  .col-dummy {
    @include responsive-height(40px);
  }
}
