@import "../../common/styles/scss/responsive.scss";

.bigmatchHistory-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;

  font-family: "BMHanna";
  font-weight: 400;

  position: relative;

  .leftTime {
    color: #f51a1a;
    position: absolute;
    @include responsive-position-width(22px);
  }

  .playingGame-container {
    border: 1px solid $color-primary1;
    background-color: $color-background;
    @include responsive-hw(131px, 387px);
    @include responsive-margin-top(15px);
    @include responsive-margin-bottom(15px);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    position: relative;

    .punch-img {
      @include responsive-hw(80px, 80px);
      background-image: url(@/assets/images/punch.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .playingGame-title {
      @include responsive-hw(40px, 130px);
      @include responsive-font-size(20px);
      text-align: center;
    }

    .go-bigmatch {
      color: $color-primary1;
      @include responsive-font-size(16px);
      @include responsive-position2(10px, 30px);
    }
  }
  .nonPlayingGame-container {
    border: 1px solid $color-primary1;
    background-color: $color-background;
    @include responsive-hw(131px, 387px);
    @include responsive-margin-top(15px);
    @include responsive-margin-bottom(15px);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

    @include responsive-font-size(16px);
  }

  .line {
    @include responsive-margin-top(15px);
    @include responsive-margin-bottom(15px);
    @include responsive-hw(1px, 387px);
    background-color: $color-background2;
  }

  .history-container {
    position: relative;
    color: $color-text1;

    .createTime {
      position: absolute;
      @include responsive-position-width(0px);
    }
    .gameHistory-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      @include responsive-padding-left(20px);

      border: 1px solid $color-text1;
      background-color: $color-background;
      @include responsive-hw(131px, 387px);
      @include responsive-margin-top(15px);
      @include responsive-margin-bottom(15px);

      @include responsive-font-size(16px);

      .winner-loser-container {
        display: flex;
        flex-direction: row;

        .winners-losers {
          display: flex;
          flex-direction: row;
          color: black;

          .profile {
            @include responsive-hw(15px, 15px);
            background-image: url(@/assets/images/sailor.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            @include responsive-margin-right(5px);
          }
        }
      }

      .loser-container {
        display: flex;
        flex-direction: row;
      }
    }
    .history-empty {
      text-align: center;
      @include responsive-margin-top(60px);
      @include responsive-font-size(50px);
    }
  }

  .row-dummy {
    @include responsive-width(10px);
  }
  .row-dummy2 {
    @include responsive-width(15px);
  }
  .col-dummy {
    @include responsive-height(10px);
  }
}
