@import "../../common/styles/scss/responsive.scss";
.baseballTeam-container {
  width: 100%;
  height: 100%;

  .header {
    @apply p-5 flex mt-16 text-center;
    @include responsive-font-size(20px);
    flex-direction: row;
    justify-content: space-between;
    font-family: "NanumSquareRoundB";
    font-weight: 700;

    .back {
      width: 10%;
    }
  }

  .content {
    @apply my-11;
    @include responsive-font-size(30px);
    position: relative;
    text-align: center;
    align-items: center;
    width: 100%;
    font-family: "BMHanna";

    .background-logo {
      @include responsive-hw(200px, 200px);
      background-image: url(@/assets/images/systemEvent/main/sinhanLogo.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0.1; /* Adjust the opacity to make the logo less intrusive */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .text-overlay {
      position: relative;
      z-index: 1;
    }

    .plus {
      @apply mt-3;
      @include responsive-font-size(15px);
      font-family: "NotoSans";
      color: $color-text1;
    }
  }

  .logo-container {
    @apply flex place-items-center;
    // display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: space-around;
    height: 100vh;

    .logo-line {
      @apply flex;
      flex-direction: row;
      justify-content: space-around;

      img {
        @apply m-1;
        @include responsive-hw(100px, 100px);
        // border: --border;
      }
      img:hover {
        border-radius: 10px;
        border: 2px solid black;
      }

      .nc {
        // height: 100px;
        // width: 100px;
        @include responsive-hw(100px, 100px);
        position: relative;
        background-image: url(@/assets/images/baseballTeams/nc.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .nc:hover {
        background-color: $color-nc;
      }
      .hanwha {
        height: 100px;
        width: 100px;
        position: relative;
        background-image: url(@/assets/images/baseballTeams/hanwha.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .hanwha:hover {
        background-color: $color-hanwha;
      }
      .Lions {
        height: 100px;
        width: 100px;
        position: relative;
        background-image: url(@/assets/images/baseballTeams/Lions.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .Lions:hover {
        background-color: $color-Lions;
      }
      .LG {
        height: 100px;
        width: 100px;
        position: relative;
        background-image: url(@/assets/images/baseballTeams/LG.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .LG:hover {
        background-color: $color-LG;
      }
      .KT {
        height: 100px;
        width: 100px;
        position: relative;
        background-image: url(@/assets/images/baseballTeams/KT.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .KT:hover {
        background-color: $color-KT;
      }
      .Lotte {
        height: 100px;
        width: 100px;
        position: relative;
        background-image: url(@/assets/images/baseballTeams/Lotte.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .Lotte:hover {
        background-color: $color-Lotte;
      }
      .Doosan {
        height: 100px;
        width: 100px;
        position: relative;
        background-image: url(@/assets/images/baseballTeams/Doosan.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .Doosan:hover {
        background-color: $color-Doosan-Navy;
      }
      .Kia {
        height: 100px;
        width: 100px;
        position: relative;
        background-image: url(@/assets/images/baseballTeams/Kia.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .Kia:hover {
        background-color: $color-Kia;
      }
      .Kiwoom {
        height: 100px;
        width: 100px;
        position: relative;
        background-image: url(@/assets/images/baseballTeams/Kiwoom.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .Kiwoom:hover {
        background-color: $color-Kiwoom;
      }
      .SSG {
        height: 100px;
        width: 100px;
        position: relative;
        background-image: url(@/assets/images/baseballTeams/SSG.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .SSG:hover {
        background-color: $color-SSG;
      }
      .dummy {
        height: 100px;
        width: 100px;
        position: relative;
      }
      .check {
        height: 100px;
        width: 100px;
        position: relative;
        background-image: url(@/assets/images/check.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }

  .row-dummy {
    width: 10%;
  }

  .col-dummy {
    height: 35px;
  }
}
