@import "../../common/styles/scss/responsive.scss";
.baseballTeam-container {
  width: 100%;
  height: 100%;

  .header {
    @apply p-5 flex mt-16 text-center;
    @include responsive-font-size(20px);
    flex-direction: row;
    justify-content: space-between;
    font-family: "NanumSquareRoundB";
    font-weight: 700;

    .back {
      width: 10%;
    }
  }

  .content {
    @apply my-11;
    @include responsive-font-size(30px);
    position: relative;
    text-align: center;
    align-items: center;
    width: 100%;
    font-family: "BMHanna";

    .background-logo {
      @include responsive-hw(200px, 200px);
      background-image: url(@/assets/images/systemEvent/main/sinhanLogo.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0.1; /* Adjust the opacity to make the logo less intrusive */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .text-overlay {
      position: relative;
      z-index: 1;
    }

    .plus {
      @apply mt-3;
      @include responsive-font-size(15px);
      font-family: "NotoSans";
      color: $color-text1;
    }
  }

  .logo-container {
    @apply flex place-items-center;
    // display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: space-around;
    height: 100vh;

    .logo-line {
      @apply flex;
      flex-direction: row;
      justify-content: space-around;

      img, .imgBlank {
        @apply m-1;
        @include responsive-hw(100px, 100px);     
      }
      .img-nc:hover {      
        border-radius: 10px;
        border: 5px solid $color-nc;
      }
      .img-hanwha:hover {       
        border-radius: 10px;
        border: 5px solid $color-hanwha;
      }
      .img-Lions:hover {      
        border-radius: 10px;
        border: 5px solid $color-Lions;
      }
      .img-LG:hover {        
        border-radius: 10px;
        border: 5px solid $color-LG;
      }
      .img-KT:hover {        
        border-radius: 10px;
        border: 5px solid $color-KT;
      }
      .img-Lotte:hover {        
        border-radius: 10px;
        border: 5px solid $color-Lotte;
      }
      .img-Doosan:hover {        
        border-radius: 10px;
        border: 5px solid $color-Doosan-Navy;
      }
      .img-Kia:hover {        
        border-radius: 10px;
        border: 5px solid $color-Kia;
      }
      .img-Kiwoom:hover {        
        border-radius: 10px;
        border: 5px solid  $color-Kiwoom;
      }
      .img-SSG:hover {        
        border-radius: 10px;
        border: 5px solid $color-SSG;
      }               
    }
  }

  .row-dummy {
    width: 10%;
  }

  .col-dummy {
    height: 35px;
  }
}
