@import "../../common/styles/scss/responsive.scss";
.sportstype-container {
  width: 100%;
  height: 100%;

  .header {
    @apply p-5 flex mt-16 text-center;
    @include responsive-font-size(20px);
    flex-direction: row;
    justify-content: space-between;
    font-family: "NanumSquareRoundB";
    font-weight: 700;

    .back {
      width: 10%;
    }
  }

  .content {
    @apply mt-24 flex place-items-center text-center;
    @include responsive-font-size(30px);
    flex-direction: column;
    font-family: "BMHanna";
    width: 100%;
    height: 90%;

    .plus {
      @apply mt-3;
      @include responsive-font-size(15px);
      font-family: "NotoSans";
      color: $color-text1;
    }

    .detail {
      @apply mt-10;
    }

    .type-button {
      @apply flex place-items-center mb-12;
      // @include responsive-height(50px);
      @include responsive-hw(80px, 286px);
      flex-direction: row;
      justify-content: space-evenly;
      border: 2px solid $color-primary1;
      border-radius: 15px;
      background-color: $color-background;
      width: 70%;
      // height: 50px;

      img {
        @include responsive-hw(50px, 50px);
      }

      div {
        @include responsive-font-size(15px);
      }
    }

    .type-button:hover {
      background-color: $color-primary1;
    }
  }

  .row-dummy {
    width: 10%;
  }

  // .col-dummy {
  //   height: 40px;
  // }
}
